<?xml version="1.0"?>
<model>
    <name>turret_bot</name>
    <version>1.0</version>
    <sdf>urdf/turret_bot.urdf</sdf>
    <author>
        <name>Aniruddh K B </name>
        <email>aniruddhkb@gmail.com</email>
    </author>
    <description>
    A simple 2-dof robot for demonstration purposes.
    </description>
</model>
